<div *ngIf="chatInfo" class="chat-style">

  <div class="chat-header">
    <img src="{{chatInfo.icon}}" class="chat-icon"/>
    <span>{{chatInfo.addressedPerson}}</span>
  </div>

  <div class="chat-main" #scrollMe>
    <div *ngFor="let message of chatInfo.messages" >
      <div *ngFor="let messageItem of message.message"
           appChatStyle
           [value]="message"
           [addressedPerson]="chatInfo.addressedPerson">

        <img src="{{chatInfo.icon}}" class="chat-icon">
        <div>
          <p>{{messageItem}}</p><br>
          <p class="chat-time">{{message.data}} {{message.time}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-footer">
    <div>
      <input type="text" placeholder="Type your message"  #input>
<!--      <textarea #input cols="30" rows="5"></textarea>-->
<!--      //todo textrea-->
      <button (click)="sendMessage()"><i class="far fa-paper-plane"></i></button>
    </div>

  </div>
</div>
