.message-info{
  max-width: 50%;
  //display: flex;
}
.message-block{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D3D3D3;
  height: 80px;
  box-sizing: border-box;
  max-height: 100px;
}
.message-block:hover {
  background-color: #F6F4F6;
}
.chat-message{
  font-size: 15px;
  color: #9E9E9E;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.message-time{
  font-size: 15px;
  text-align: center;
  margin: auto;
}

