/* You can add global styles to this file, and also import other style files */

.user-icon{
  font-size: 3em;
  margin-right: 10px;
}
*{
  font-family: 'Montserrat', sans-serif;
}
.chat-icon{
  border-radius: 50%;
  border: 1px solid #D3D3D3;
  width: 55px;
  background-color: #F6F4F6;
  margin: 0px 10px;
}
